* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 1080px;
    padding: 20px;
    margin: 0 auto;

  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

body {
  background: center top;
  background-color: black;
  color: aliceblue;
  background-image: url('https://r4.wallpaperflare.com/wallpaper/821/494/505/medalion-minimalistic-white-witcher-wallpaper-1439e333b9c589ab5678e7500bc229cd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

body {
    font-family: 'Acme', sans-serif;
    min-height: 100vh;
  }

 .allheader {
     width: 100%;
     height: 20%;
     text-align: center;
     border-bottom: 4px solid orange;
     color: orange;
     float: right;
     line-height: 20%;
 }

 #fio {
       display: flex;
       flex-direction: row-reverse;
      font-size: xx-large;
 }
  
 #prof {
    display: flex;
       flex-direction: row-reverse;
 }

     .about-me__img {
        display: block;
        width: 225px;
        height: 225px;
        border-radius: 50%;
        float: right;
        margin-right: 45px;
        margin-bottom: 15px;
        position: relative;   
 }
 .nav {
  overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
    margin-top: 100px;
 }

.nav-list {
  align-items: left;
  list-style-type: none;
  bottom: 0;
}

 .nav-link {
  position: relative;
  border-bottom: 4px solid orange;
  float: left;
  display: block;
  color: rgba(255, 0, 0, 0.664);
  text-align: center;
  padding: 10px 7px;
  text-decoration: none;
  font-size: 15pt;
  font-weight: bold;
 }

 .nav-link::before {
  background: orange;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
  
 }

 .nav-link::before {
    width: 0%;
    height: 100%;
 }

 .nav-link:hover::before{
  width: 100%;
}


.allmain {
    width: 65%;
     height: 100%;
     text-align: left;
     float: left;
     color: white;
}

.mainmenu {
  color: rgba(255, 0, 0, 0.664);
}

  .pic {
    height: 200px;
    width: 250px;
  }
 
.pix {
  max-width: 250px;
  text-align: center;
  line-height: 20%;
}

.sum {
  list-style-type: none;
  text-align: left;
}


.allaside {
    width: 30%;
    background: rgb(17, 17, 17, 0.35);
    float: right;
    position: relative; 
    color: orange;
    padding: 20px 2.5%;
}

.progressbar { 
	height: 20px;
	position: relative;
	background: rgba(71, 66, 66, 0.301);
	padding: 3px;
}

.progressbar > span {
    display: block;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.664);
    position: relative;
    overflow: hidden;
  }

    #allfooter {
    width: 100%;
     height: 20%;
     text-align: center;
     border-top: 4px solid orange;
     color: orange;
     float: right;
     line-height: 20%;
    }

    #data2022 {
      float: left;
    }

    #giticon {
      float: right;
    }

    .icon {
    display: inline-block;
    width: 50px;
    height: 100%;
    background: center;
    background-size: cover;
    margin: 7px 7px 7px 7px;
    }