html{
    font: 16px/ 1.4 Georgia, serif;
}

body{
    max-width: 400px;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

.mAt{
    display: flex;
    justify-content: space-around;
}

.start, .stop, .save, .result, .voice{
    font: 1.2rem/ 1.4 Georgia, serif;
    background: rgb(49, 210, 216);
    border: none;
    border-radius: 5px;
cursor: pointer;
color: white;
}

.start{
    background: rgb(49, 210, 216); 
    transition: 1s;
}

.stop{
    background:rgb(49, 210, 216);
    transition: 1s;
}

.fift{
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 1.5rem;
    position: relative;
    background: rgb(196, 190, 190);
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    overflow: hidden;
}

.item{
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 25%;
    box-shadow: inset 1px 1px grey;
    background: white;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
    transform: rotate(180deg);
}

.size{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.frame, .oSize{
    font-size: 1rem;
}

.voice{
    background: url('../lickoneyou-JSFE2022Q3/pic/pngwing.com.png');
    width: 20px;
    height: 20px;
  
}

.oSizes{
    cursor: pointer;
}

    .popUp {
        margin: 35px;
        margin-top: -450px;
        width: 70%;
        max-width: 332px;
        height: 84%;
        max-height: 379px;
        border-radius: 15px;
        background: rgb(11, 235, 243);
        position: absolute;
        display: none;
    }

    .itemLi{
        margin-bottom: 10px;
    }

    .name{
        background: rgb(167, 244, 247);
        height: 30px;
        margin: -131px;
        width: 250px;
        margin-top: -283px;
        position: absolute;
        display: none;
    }

    .saveinp {
        display: none;
        position: absolute;
        margin-top: -246px;
        margin-left: -25px;
    }



